
.icon-custom:before { content: '\e800'; } /* '' */
.icon-folder:before { content: '\e801'; } /* '' */
.icon-sheets:before { content: '\e802'; } /* '' */
.icon-pensil:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-cup:before { content: '\e805'; } /* '' */
.icon-hart:before { content: '\e806'; } /* '' */
.icon-lounch:before { content: '\e807'; } /* '' */
.icon-dialogs:before { content: '\e808'; } /* '' */
.icon-play-circled2-1:before { content: '\e80c'; } /* '' */
.icon-link:before { content: '\e80e'; } /* '' */
.icon-03:before { content: '\e810'; } /* '' */
.icon-list:before { content: '\e811'; } /* '' */
.icon-arrow:before { content: '\e812'; } /* '' */
.icon-icon-play:before { content: '\e813'; } /* '' */
.icon-slider-left:before { content: '\e814'; } /* '' */
.icon-left:before { content: '\e815'; } /* '' */
.icon-link-1:before { content: '\e816'; } /* '' */
.icon-logos:before { content: '\e817'; } /* '' */
.icon-lupa:before { content: '\e818'; } /* '' */
.icon-slider-right:before { content: '\e819'; } /* '' */
.icon-right:before { content: '\e81a'; } /* '' */